/* Leaflet needs a fixed height container */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

/* Make popup text consistent */
.leaflet-popup-content {
  margin: 10px 12px;
  font-size: 14px;
}
.leaflet-popup-content-wrapper {
  border-radius: 16px;
}
.leaflet-control-attribution {
  font-size: 11px;
}
